In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from openap import FlightPhase

In [11]:
file_name = '4bb859.csv'
df = pd.read_csv(file_name, parse_dates=True)
df.head()

                  time  icao24      ...       lastposupdate   lastcontact
0  2020-10-12 00:00:10  4bb859      ...        1.602461e+09  1.602461e+09
1  2020-10-12 00:00:20  4bb859      ...        1.602461e+09  1.602461e+09
2  2020-10-12 00:00:30  4bb859      ...        1.602461e+09  1.602461e+09
3  2020-10-12 00:00:40  4bb859      ...        1.602461e+09  1.602461e+09
4  2020-10-12 00:00:50  4bb859      ...        1.602461e+09  1.602461e+09

[5 rows x 16 columns]

In [12]:
flight = FlightPhase()
flight.set_trajectory(list(df['time']), list(df['geoaltitude']), list(df['velocity']), list(df['vertrate']))

TypeError: unsupported operand type(s) for -: 'list' and 'str'

In [18]:
df['time'].second

AttributeError: 'Series' object has no attribute 'second'